html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  zoom: .85;
}

.dark {
  background: #0e0809;
}

 .header_section{
  font-size: 35px;
  font-weight: bold;
}

.line {
  display: block;
  place-items: center;
  height: 1px;
  border: 0;
  border-top: 4px solid white;
  margin: 1em 0;
  padding-left: 1rem;
}

/* Header */
.header .navbar {
  background-color: none;
  font-size: 20px;
  height: 80px;
  position: fixed;
  z-index: 4;
}

.header .icon_images {
  color: rgb(246, 243, 243);
    position: fixed;
    display: block;
    height: 72px;
    width: 66px;
    left: 10px;
    top: 10px;
    bottom: 5px;
    margin: 0px;
    box-shadow: 3px;
    border: 2px solid grey;
    border-radius: 100%;
    z-index: 5;
  }

  @media screen and (max-width: 600px) {
    /* Header */
  .header .navbar {
    visibility: hidden;
    }
  .header .icon_images {
    opacity: 0.8;
    position: fixed;
    display: block;
    height: 68px;
    width: 64px;
    left: 15px;
    top: 37px;
    bottom: 5px;
    margin: 3px;
    box-shadow: 3px;
    border: 2px solid grey;
    border-radius: 100%;
    z-index: 5;
  }

  }



/* First */
.first {
  position: relative;
}


.first .WELCOME {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #cad5e4;
  margin-top: 15%;
  margin-left: 28%;
}

.first .Name {
  color: #fff;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
  margin-top: 5%;
  margin-left: 28%;
}

.first .span_name {
  font-size: 40px;
  line-height: 65px;
  color: #8e3b3b;
  margin-top: 20px;
  margin-left: 3px;
}

.first .job {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  margin-left: 28%;
}

.first .animated_text {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  margin-top: 5%;
}

.first .text-white {
  text-align: justify;
  font-size: 18px;
  margin-top: 5%;
  margin-left: 28%;
  margin-right: 10%;
  opacity: .9;
  line-height: 30px;
}

.first .col-md-6 {
  position: relative;
}



.first .banner {

  display: flex;
  height: 650px;
  width: auto;
  right: 100px;
  top: 10px;
  left: 10px;
  bottom: 50px;
  z-index: 4;
 
}




.first .Skills_text {
  font-weight: bold;
  color: #fff;
  display: block;
  text-align: right;
  margin-top: 3%;
  margin-right: 35%;
}

.first .Skill_icons {
  display: block;
  text-align: right;
  margin-top: 1%;
  margin-right: 10%;
}

.first .Skill_icon {
  display: inline-block;
  margin-right: 35%;
  margin: 7px;
  height: 50px;
  width: 50px;
}
.first .icon_
{
  position: absolute;
  display: flex;
  height: 65px;
  width: 65px;
  left: 30%;
  top: 589px;

 
}
/* If the screen size is 600px wide or less, set the font-size of first section*/
@media screen and (max-width: 600px) {
  .first .WELCOME {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #cad5e4;
    margin-top: 5%;
    margin-left: 5%;
  }
  
  .first .Name {
    color: #fff;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 75px;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 0;
  }
  
  .first .span_name {
    font-size: 30px;
    line-height: 30px;
    color: #8e3b3b;
    margin-top: 20px;
    margin-left: 1%;
  }
  
  .first .job {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin-left: 5%;
  }
  
  .first .animated_text {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
   
  
  }
  
  .first .text-white {
    text-align: justify;
    font-size: 18px;
    margin-top: 5%;
    margin-left: 5%;
  
    opacity: .9;
    line-height: 30px;
  }
  
  .first .col-md-6 {
    position: relative;
  }
  
  .first .banner {
    display: flex;
    right: 100px;
    margin-top: 13%;
    margin-bottom: 200px;
  }
  
  .first .Skills_text {
    color: #fff;
    display: block;
    text-align: right;
    margin-top: 8%;
    margin-right:60%;
  }
  
  .first .Skill_icons {
    display: block;
    text-align: right;
    margin-top: 2%;
    margin-right: 10%;
  }
  
  .first .Skill_icon {
    display: inline-block;
    margin-right: 35%;
    margin: 7px;
    height: 50px;
    width: 50px;
  }


  .first .banner {
    display: flex;
    height: 650px;
    width: auto;
    right: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 23%;
    margin-bottom: 50px;
  }
  .first .icon_cv {
    position: absolute;
    display: flex;
    height: 50px;
    width: 50px;
    left: 382px;
    top: 433px;
  
   
  }

}

/* Second Cards section */
.second {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
  /*PEN STYLES*/
  /* COLORS */
}
.second * {
  box-sizing: border-box;
}
.second body {
  background: #f1f1f1;
  margin: 2rem;
}
.second.active {
  transform: translateY(0);
  opacity: 1;
}
.second .light {
  background: #f3f5f7;
}
.second a, .second a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.second .postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}
.second .postcard.dark {
  background-color: #18151f;
}
.second .postcard.light {
  background-color: #e1e5ea;
}
.second .postcard .t-dark {
  color: #18151f;
}
.second .postcard a {
  color: inherit;
}
.second .postcard h1, .second .postcard .h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.second .postcard .small {
  font-size: 80%;
}
.second .postcard .posta_title {
  font-size: 1.75rem;
}
.second .postcard .postcard__img {
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
}
.second .postcard .postcard__img_link {
  display: contents;
 
}
.second .postcard .postcard__bar_M {
  display: flex;
  width: 50px;
  height: 20px;
  margin: 10px;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.6s ease;
}
.second .postcard .postcard__bar_B {
  width: 50px;
  height: 20px;
  margin: 10px;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.6s ease;
}
.second .postcard .postcard__text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.second .postcard .postcard__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  line-height: 2;
  height: 100%;
}
.second .postcard .postcard__tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}
.second .postcard .postcard__tagbox .tag__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s;
}
.second .postcard .postcard__tagbox .tag__item:hover {
  background: rgba(83, 83, 83, 0.8);
}
.second .postcard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}
.second .postcard:hover .postcard__bar_M {
  width: 100px;
}
.second .postcard:hover .postcard__bar_B {
  width: 100px;
}
.second .postcard__subtitle{
  font-size: 30px;
}
@media screen and (min-width: 769px) {
  .second {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
    /*PEN STYLES*/
    /* COLORS */
  }
  .second * {
    box-sizing: border-box;
  }
  .second body {
    background: #f1f1f1;
    margin: 2rem;
  }
  .second.active {
    transform: translateY(0);
    opacity: 1;
  }

  .second .postcard__subtitle{
    font-size:40px;
  }

  .second .postcard__title{
    font-size: 50px;
  }
  .second .postcard__preview{
    margin-top: 30px;
  }
  .second .light {
    background: #f3f5f7;
  }
  .second a, .second a:hover {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  .second .postcard {
    flex-wrap: wrap;
    display: flex;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
    color: #ffffff;
  }
  .second .postcard.dark {
    background-color: #18151f;
  }
  .second .postcard.light {
    background-color: #e1e5ea;
  }
  .second .postcard .t-dark {
    color: #18151f;
  }
  .second .postcard a {
    color: inherit;
  }
  .second .postcard h1, .second .postcard .h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }
  .second .postcard .small {
    font-size: 80%;
  }
  .second .postcard .posta_title {
    font-size: 1.75rem;
  }
  .second .postcard .postcard__img {
    max-height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
  }
  .second .postcard .postcard__img_link {
    display: contents;
  }
  .second .postcard .postcard__bar_M {
    display: flex;
    width: 50px;
    height: 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.6s ease;
  }
  .second .postcard .postcard__bar_B {
    width: 50px;
    height: 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.6s ease;
  }
  .second .postcard .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .second .postcard .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    line-height: 2;
    height: 100%;
  }
  .second .postcard .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
    padding: 0;
    justify-content: center;
  }
  .second .postcard .postcard__tagbox .tag__item {
    display: inline-block;
    background: rgba(83, 83, 83, 0.4);
    border-radius: 3px;
    padding: 2.5px 10px;
    margin: 0 5px 5px 0;
    cursor: default;
    user-select: none;
    transition: background-color 0.3s;
  }
  .second .postcard .postcard__tagbox .tag__item:hover {
    background: rgba(83, 83, 83, 0.8);
  }
  .second .postcard:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
  }
  .second .postcard:hover .postcard__bar_M {
    width: 100px;
  }
  .second .postcard:hover .postcard__bar_B {
    width: 100px;
  }
}

@media screen and (min-width: 769px) {
  .second .postcard {
    flex-wrap: inherit;
  }
  .second .postcard .postcard__title {
    font-size: 4rem;
  }
  .second .postcard .postcard__tagbox {
    justify-content: start;
  }
  .second .postcard .postcard__img {
    max-width: 500px;
    max-height: 100%;
    transition: transform 0.3s ease;
  }
  .second .postcard .postcard__text {
    padding: 3rem;
    width: 100%;
    transition: transform 0.3s ease;
  }

  .second .postcard:hover .postcard__img {
    transform: scale(1.1);
  }
  .second .postcard:nth-child(2n+1) {
    flex-direction: row;
  }
  .second .postcard:nth-child(2n+0) {
    flex-direction: row-reverse;
  }
  .second .postcard:nth-child(2n+1) .postcard__text::before {
    left: -12px !important;
    transform: rotate(4deg);
  }
  .second .postcard:nth-child(2n+0) .postcard__text::before {
    right: -12px !important;
    transform: rotate(-4deg);
  }
}
@media screen and (min-width: 1024px) {
  .second .postcard__text {
    padding: 2rem 3.5rem;
  }

  .second .postcard.dark .postcard__text:before {
    background: #18151f;
  }
  .second .postcard.light .postcard__text:before {
    background: #e1e5ea;
  }
}
.second .postcard .postcard__tagbox .green.play:hover {
  background: #79dd09;
  color: black;
}
.second .green .postcard__title:hover {
  color: #79dd09;
}
.second .green .postcard__bar_M {
  background-color: #79dd09;
}
.second .green .postcard__bar_B {
  background-color: #79dd09;
}
.second .green::before {
  background-image: linear-gradient(-30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}
.second .green:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}
.second .postcard .postcard__tagbox .blue.play:hover {
  background: #0076bd;
}
.second .blue .postcard__subtitle:hover {
  color: #0076bd;
}
.second .blue .postcard__bar_M {
  background-color: #0076bd;
}
.second .blue .postcard__bar_B {
  background-color: #0076bd;
}
.second .blue::before {
  background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}
.second .blue:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}
.second .postcard .postcard__tagbox .red.play:hover {
  background: #bd150b;
}
.second .red .postcard__title:hover {
  color: #bd150b;
}
.second .red .postcard__bar_M {
  background-color: #bd150b;
}
.second .red .postcard__bar_B {
  background-color: #bd150b;
}
.second .red .postcard__bar_B {
  background-color: #bd150b;
}
.second .red::before {
  background-image: linear-gradient(-30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}
.second .red:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}
.second .postcard .postcard__tagbox .yellow.play:hover {
  color: black;
}

.second .yellow .postcard__subtitle:hover {
  color: #bdbb49;
}
.second .yellow .postcard__bar_M {
  background-color: #bdbb49;
}
.second .yellow .postcard__bar_B {
  background-color: #bdbb49;
}
.second .yellow::before {
  background-image: linear-gradient(-30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}
.second .yellow:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}
@media screen and (min-width: 769px) {
  .second .green::before {
    background-image: linear-gradient(-80deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }
  .second .green:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }
  .second .blue::before {
    background-image: linear-gradient(-80deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }
  .second .blue:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }
  .second .red::before {
    background-image: linear-gradient(-80deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }
  .second .red:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }
  .second .yellow::before {
    background-image: linear-gradient(-80deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }
  .second .yellow:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }
}




/* Section Third */

.Third.active .Python {
  width: 80%;
  animation: Python 2s ease-out;
}

.Third.active .R {
  width: 70%;
  animation: R 2s ease-out;
}

.Third.active .html {
  width: 80%;
  animation: html 2s ease-out;
}

.Third.active .css {
  width: 80%;
  animation: css 2s ease-out;
}

.Third.active .javascript {
  width: 50%;
  animation: javascript 2s ease-out;
}

.Third.active .jquery {
  width: 50%;
  animation: jquery 2s ease-out;
}

.Third.active .Power_BI {
  width: 80%;
  animation: Power_BI 2s ease-out;
}

.Third.active .Gamside {
  width: 80%;
  animation: Gamside 2s ease-out;
}

.Third.active .PostgreSQL {
  width: 70%;
  animation: PostgreSQL 2s ease-out;
}

.Third.active .Tableau {
  width: 80%;
  animation: Tableau 2s ease-out;
}

.Third.active .Solidworks {
  width: 60%;
  animation: Solidworks 2s ease-out;
}

.Third.active .AutoCad {
  width: 60%;
  animation: AutoCad 2s ease-out;
}

.Third.active .Primavera {
  width: 70%;
  animation: Primavera 2s ease-out;
}

.Third.active .Anaconda {
  width: 80%;
  animation: Anaconda 2s ease-out;
}

@keyframes titulo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Python {
  0% {
    width: 0px;
  }
  100% {
    width: 80%;
  }
}

@keyframes R {
  0% {
    width: 0px;
  }
  100% {
    width: 70%;
  }
}

@keyframes html {
  0% {
    width: 0px;
  }
  100% {
    width: 80%;
  }
}

@keyframes css {
  0% {
    width: 0px;
  }
  100% {
    width: 80%;
  }
}

@keyframes javascript {
  0% {
    width: 0px;
  }
  100% {
    width: 50%;
  }
}

@keyframes jquery {
  0% {
    width: 0px;
  }
  100% {
    width: 50%;
  }
}

@keyframes Power_BI {
  0% {
    width: 0px;
  }
  100% {
    width: 80%;
  }
}

@keyframes Gamside {
  0% {
    width: 0px;
  }
  100% {
    width: 80%;
  }
}

@keyframes PostgreSQL {
  0% {
    width: 0px;
  }
  100% {
    width: 70%;
  }
}

@keyframes Tableau {
  0% {
    width: 0px;
  }
  100% {
    width: 80%;
  }
}

@keyframes Solidworks {
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}

@keyframes AutoCad {
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}

@keyframes Primavera {
  0% {
    width: 0px;
  }
  100% {
    width: 70%;
  }
}

@keyframes Anaconda {
  0% {
    width: 0px;
  }
  100% {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  .Third.active h2 {
    font-size: 2.2em;
  }
}

@media (max-width: 980px) {
  .Third.active h2 {
    font-size: 1.8em;
  }
}

@media (max-width: 767px) {
  .Third.active h2 {
    font-size: 1.4em;
  }
}

@media (max-width: 580px) {
  .Third.active h2 {
    font-size: 1.1em;
    padding: 10px 0;
  }
}
.Third .solution_card .solu_title h3 {
  font-size: 1.3em;
  font-weight: bold;
  color: rgb(9, 1, 77);

}
@media (max-width: 480px) {
  .Third.active h2 {
    font-size: 2.2em;
    padding: 10px 0 15px 0;
  }
  .Third.active .col {
    width: 90%;
  }
  .Third .solution_card .solu_title h3 {
    font-size: 2em;
    font-weight: bold;
    color: rgb(9, 1, 77);
  
  }
}



.Third h2 {
  font-size: 3.7em;
  font-weight: normal;
  padding: 10px 0 16px 0;
  margin: 0 0 30px;
  text-align: center;
  color: #2187e7;
  text-shadow: 1px 1px 5px #000, 0 0 10px #2187e7, 0 0 20px #2187e7;
  background: #000;
  border-radius: 2px;
  border: 1px solid #2187e7;
  box-shadow: 0px 0px 50px -8px #2187e7;
}

.Third h2.programacion {
  border: 1px solid #2187e7;
  box-shadow: 0px 0px 50px -8px #2187e7;
  color: #2187e7;
  text-shadow: 1px 1px 5px #000, 0 0 10px #2187e7, 0 0 20px #2187e7;
}

.Third h2.plataformas {
  border: 1px solid #9ACD32;
  box-shadow: 0px 0px 50px -8px #9ACD32;
  color: #9ACD32;
  text-shadow: 1px 1px 5px #000, 0 0 10px #9ACD32, 0 0 20px #9ACD32;
}

.Third h2.programas {
  border: 1px solid #FF4500;
  box-shadow: 0px 0px 50px -8px #FF4500;
  color: #FF4500;
  text-shadow: 1px 1px 5px #000, 0 0 10px #FF4500, 0 0 20px #FF4500;
}



.Third .skill {
  list-style: none;
  padding-top: 30px;

}

.Third .skill li {
  margin-bottom: 70px;
  background: #030303;
  height: 6px;
  border-radius: 3px;
  border-left: 1px solid #111;
  border-top: 1px solid #111;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
}

.Third .skill li em {
  position: relative;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  color: #dedede;
  top: -32px;
}

.Third .blueline {
  height: 5px;
  margin: 0px 0;
  background: #2187e7;
  position: absolute;
  box-shadow: 0px 0px 10px 1px rgba(0, 198, 255, 0.6);
}

.Third .greenline {
  height: 5px;
  margin: 0px 0;
  background: #9ACD32;
  position: absolute;
  box-shadow: 0px 0px 10px 1px rgba(173, 255, 47, 0.4);
}

.Third .redline {
  height: 5px;
  margin: 0px 0;
  background: #FF4500;
  position: absolute;
  box-shadow: 0px 0px 10px 1px rgba(255, 69, 0, 0.4);
}

.Third .titulo {
  margin-top: 20px;
  opacity: 1;
  font-size: 3vw;
  animation: titulo 8s ease-out;
}

.Third .so_top_icon {
  height: 200px;
}
.Third .solu_description {

  margin-bottom: 0px !important;
}

.Third .card_description {
  font-size: 15px !important;
  margin-bottom: 0;
}








/* Section Four */
.Four.active * {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  margin-top: 0px;
}

.Four.active img {
  max-width: 100%;
}

.Four.active .job_card {
  margin-top: 20px;
  position: relative;
  width: 80%;
  height: 700px;
  border-radius: 6px;
  margin: auto;
  margin-bottom: 50px !important;
  background: #333333;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  opacity: 0;
  animation: ContentFadeIn 0.4s 0.2s forwards;
}

.Four.active .card__line {
  opacity: 0;
  animation: LineFadeIn 0.8s 0.8s forwards ease-in;
}

.Four.active .card__image {
  
  padding-top: 0px;
  opacity: 0;
  animation: ImageFadeIn 1.5s 1.4s forwards;
}

.Four.active .card__title {
  color: whitesmoke;
  font-size: 20px !important;
  font-style: italic;
  margin-top: 0;
  opacity: 0;
  font-weight: 800;
  letter-spacing: 0.01em;
  animation: ContentFadeIn 0.8s 1.6s forwards;
}

.Four.active .card__content {
  margin-bottom: 0;
  font-size: 1.2vw;
  color: #fff;
  margin-top: 1rem;
  opacity: 0;
  animation: ContentFadeIn 0.8s 1.6s forwards;
}

.Four.active .sub_title {
  font-size: 1vw;
  color: #d9a31b;
  margin-top: 1rem;
  margin-bottom: 0;
  opacity: 0;
  animation: ContentFadeIn 0.8s 1.6s forwards;
}

.Four.active .card__svg {
  position: absolute;
  left: 0;
  top: 115px;
}

.Four.active .button {
  margin: .5rem;
  direction: rtl;
  margin-bottom: 0px;
  opacity: 0;
  animation: ContentFadeIn 0.8s 1.6s forwards;
}
.Four .button_1 {
  position: absolute;
  right: 10px;
  bottom: 10px;
  opacity: 0;
  animation: ContentFadeIn 1.5s 1.6s forwards;
}
.Four .button_2 {
  position: absolute;
  right: 10px;
  bottom: 10px;
  opacity: 0;
  animation: ContentFadeIn 1.5s 1.6s forwards;
}
.Four .button_3 {
  position: absolute;
  right: 10px;
  bottom: 10px;
  opacity: 0;
  animation: ContentFadeIn 1.5s 1.6s forwards;
}
/* If the screen size is 600px wide or less, set the font-size of job card */
@media screen and (max-width: 600px) {
  .Four.active * {
    box-sizing: border-box;
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
    margin-top: 0px;
  }
  
  .Four.active img {
    max-width: 100%;
  }
  
  .Four.active .job_card {
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 700px;
    border-radius: 6px;
    margin: auto;
    margin-bottom: 50px !important;
    background: #333333;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    opacity: 0;
    animation: ContentFadeIn 0.4s 0.2s forwards;
  }
  
  .Four.active .card__line {
    opacity: 0;
    animation: LineFadeIn 0.8s 0.8s forwards ease-in;
  }
  
  .Four.active .card__image {
    
    padding-top: 0px;
    opacity: 0;
    animation: ImageFadeIn 1.5s 1.4s forwards;
  }
  
  .Four.active .card__title {
    color: whitesmoke;
    font-size: 20px !important;
    font-style: italic;
    margin-top: 0;
    opacity: 0;
    font-weight: 800;
    letter-spacing: 0.01em;
    animation: ContentFadeIn 0.8s 1.6s forwards;
  }
  
  .Four.active .card__content {
    margin-bottom: 0;
    font-size: 18px;
    color: #fff;
    margin-top: 1rem;
    opacity: 0;
    animation: ContentFadeIn 0.8s 1.6s forwards;
  }
  
  .Four.active .sub_title {
    font-size: 18px;
    color: #d9a31b;
    margin-top: 1rem;
    margin-bottom: 0;
    opacity: 0;
    animation: ContentFadeIn 0.8s 1.6s forwards;
  }
  
  .Four.active .card__svg {
    position: absolute;
    left: 0;
    top: 115px;
  }
  
  .Four.active .button {
    margin: .5rem;
    direction: rtl;
    margin-bottom: 0px;
    opacity: 0;
    animation: ContentFadeIn 0.8s 1.6s forwards;
  }
  .Four .button_1 {
    position: absolute;
    right: 10px;
    bottom: 10px;
    opacity: 0;
    animation: ContentFadeIn 1.5s 1.6s forwards;
  }
  .Four .button_2 {
    position: absolute;
    right: 10px;
    bottom: 10px;
    opacity: 0;
    animation: ContentFadeIn 1.5s 1.6s forwards;
  }
  .Four .button_3 {
    position: absolute;
    right: 10px;
    bottom: 10px;
    opacity: 0;
    animation: ContentFadeIn 1.5s 1.6s forwards;
  }
}

@keyframes LineFadeIn {
  0% {
    opacity: 0;
    d: path("M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 ");
    stroke: #fff;
  }
  50% {
    opacity: 1;
    d: path("M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300");
    stroke: #888BFF;
  }
  100% {
    opacity: 1;
    d: path("M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400");
    stroke: #545581;
  }
}







@keyframes LineFadeIn {
  0% {
    opacity: 0;
    d: path("M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 ");
    stroke: #fff;
  }
  50% {
    opacity: 1;
    d: path("M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300");
    stroke: #888BFF;
  }
  100% {
    opacity: 1;
    d: path("M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400");
    stroke: #545581;
  }
}

@keyframes ContentFadeIn {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes ImageFadeIn {
  0% {
    transform: translate(-0.5rem, -0.5rem) scale(1.05);
    opacity: 0;
    filter: blur(2px);
  }
  50% {
    opacity: 1;
    filter: blur(2px);
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
    filter: blur(0);
  }
}





/* Section Five */

.Five .card {
  position: relative;
  height: 530px;
  border-radius: 18px;
  background: #1d1d1d;
  color: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: justify;
  margin: 30px;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.Five img {
  height: 10%;
}

.Five .rgb::after {
  content: "";
  background: linear-gradient(45deg, #ff0000 0%, #ff9a00 10%, #d0de21 20%, #4fdc4a 30%, #3fdad8 40%, #2fc9e2 50%, #1c7fee 60%, #5f15f2 70%, #ba0cf8 80%, #fb07d9 90%, #ff0000 100%) repeat 0% 0%/300% 100%;
  position: absolute;
  inset: -3px;
  border-radius: 16px;
  filter: blur(8px);
  transform: translateZ(-1px);
  /*or z-index */
  animation: rgb 6s linear infinite;
}



@keyframes rgb {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.Five .js-tilt-glare {
  border-radius: 18px;
}

.Five .card-image {
  background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%), url("img1.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.Five .card-text {
  color: white;
  font-size: 20px;
  grid-area: text;
  margin: 25px;
  transform: translateZ(30px);
}

.Five .card-text:link {
  color: white;
}

.Five .card-title {
  color: white;
}

.Five .card-title:link {
  color: white;
}

.Five .card-text .date {
  color: #ff076e;
  font-size: 13px;
}

.Five .card-text p {
  color: grey;
  font-size: 14px;
  font-weight: 300;
}

.Five .card-text h2 {
  margin-top: 0px;
  font-size: 28px;
}

.Five .card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #ff076e;
}

.Five .card-stats .stat {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.Five .card-stats .border {
  border-left: 1px solid #ac1a57;
  border-right: 1px solid #ac1a57;
}

.Five .card-stats .value {
  font-size: 22px;
  font-weight: 500;
}

.Five .card-stats .value sup {
  font-size: 12px;
}

.Five .card-stats .type {
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.Five .card-image.card2 {
  background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%), url("img2.jpg");
  background-size: cover;
}

.Five .card-text.card2 .date {
  color: #ff4d07;
}

.Five .card-stats.card2 .border {
  border-left: 1px solid #b94314;
  border-right: 1px solid #b94314;
}

.Five .card-stats.card2 {
  background: #ff4d07;
}

.Five .card-image.card3 {
  background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%), url("img3.jpg");
  background-size: cover;
}

.Five .card-text.card3 .date {
  color: #00bd3f;
}

.Five .card-stats.card3 .border {
  border-left: 1px solid #0e7a32;
  border-right: 1px solid #0e7a32;
}

.Five .card-stats.card3 {
  background: #00bd3f;
}

.Five .button_1 {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.Five .button_2 {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.Five .button_3 {
  position: absolute;
  right: 10px;
  bottom: 10px;
}



  

  
  @keyframes rgb {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .Five .js-tilt-glare {
    border-radius: 18px;
  }
  
  .Five .card-image {
    background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%), url("img1.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .Five .card-text {
    color: white;
    font-size: 15px;
    grid-area: text;
    margin: 25px;
    transform: translateZ(30px);
  }
  
  .Five .card-text:link {
    color: white;
  }
  
  .Five .card-title {
    color: white;
    font-size: 25px;
  }
  
  .Five .card-title:link {
    color: white;
  }
  
  .Five .card-text .date {
    color: #ff076e;
    font-size: 13px;
  }
  
  .Five .card-text p {
    color: grey;
    font-size: 14px;
    font-weight: 300;
  }
  
  .Five .card-text h2 {
    margin-top: 0px;
    font-size: 28px;
  }
  
  .Five .card-stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #ff076e;
  }
  
  .Five .card-stats .stat {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
  }
  
  .Five .card-stats .border {
    border-left: 1px solid #ac1a57;
    border-right: 1px solid #ac1a57;
  }
  
  .Five .card-stats .value {
    font-size: 22px;
    font-weight: 500;
  }
  
  .Five .card-stats .value sup {
    font-size: 12px;
  }
  
  .Five .card-stats .type {
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
  }
  
  .Five .card-image.card2 {
    background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%), url("img2.jpg");
    background-size: cover;
  }
  
  .Five .card-text.card2 .date {
    color: #ff4d07;
  }
  
  .Five .card-stats.card2 .border {
    border-left: 1px solid #b94314;
    border-right: 1px solid #b94314;
  }
  
  .Five .card-stats.card2 {
    background: #ff4d07;
  }
  
  .Five .card-image.card3 {
    background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%), url("img3.jpg");
    background-size: cover;
  }
  
  .Five .card-text.card3 .date {
    color: #00bd3f;
  }
  
  .Five .card-stats.card3 .border {
    border-left: 1px solid #0e7a32;
    border-right: 1px solid #0e7a32;
  }
  
  .Five .card-stats.card3 {
    background: #00bd3f;
  }
  
  .Five .button_1 {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  
  .Five .button_2 {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  
  .Five .button_3 {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  

  .Five img {
    height: 10%;
  }
  .Five .card-title {
    color: rgb(255, 255, 255);
    font-size: 25px;
  }
  .Five .card-text {
    color: white;
    font-size: 21px;
    grid-area: text;
    margin: 25px;
    transform: translateZ(30px);
  }


/* If the screen size is 600px wide or less, set the font-size of job card */

@media screen and (max-width: 600px) {
  .Five .card {
    position: relative;
    height: 575px;
    border-radius: 18px;
    background: #1d1d1d;
    color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    font-family: roboto;

    margin: 30px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
  }
  

  .Five img {
    height: 10%;
  }
  .Five .card-title {
    color: rgb(255, 255, 255);
    font-size: 25px;
  }
  .Five .card-text {
    color: white;
    font-size: 21px;
    grid-area: text;
    margin: 25px;
    transform: translateZ(30px);
  }



  


 
  }

 




/* Six */
.six {
  margin-top: 10px;
  margin-bottom: 90px;
}



.testimonial .heading {
  text-align: center;
  color: #454343;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
  z-index: 999;
}

.testimonial .white-heading {
  color: #ffffff;
}

.testimonial .heading:after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 50%;
  height: 40px;
  width: 180px;
  border-radius: 4px;
  transform: translateX(-50%);
  background: url(img/heading-line.png);
  background-repeat: no-repeat;
  background-position: center;
}

.testimonial .white-heading:after {
  background: url(https://i.ibb.co/d7tSD1R/heading-line-white.png);
  background-repeat: no-repeat;
  background-position: center;
}

.testimonial .heading span {
  font-size: 18px;
  display: block;
  font-weight: 500;
}

.testimonial .white-heading span {
  color: #ffffff;
}

.testimonial .testimonial:after {
  position: absolute;
  top: -0 !important;
  left: 0;
  content: " ";
  background: url(img/testimonial.bg-top.png);
  background-size: 100% 100px;
  width: 100%;
  height: 100px;
  float: left;
  z-index: 99;
}

.testimonial .testimonial {
  min-height: 375px;
  position: relative;
  background: url(https://i.ibb.co/PTJDkgb/testimonials.jpg);
  padding-top: 50px;
  padding-bottom: 50px;
  background-position: center;
  background-size: cover;
}

.testimonial #testimonial4 .carousel-inner:hover {
  cursor: -webkit-grab;
}

.testimonial #testimonial4 .carousel-inner:active {
  cursor: -webkit-grabbing;
}

.testimonial #testimonial4 .carousel-inner .item {
  overflow: hidden;
}

.testimonial .testimonial4_indicators .carousel-indicators {
  left: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  height: 20px;
  bottom: 15px;
  padding: 0 5px;
  cursor: e-resize;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.testimonial .testimonial4_indicators .carousel-indicators li {
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  text-indent: 0;
  margin: 2px 3px;
  cursor: pointer;
  display: inline-block;
  background: #ffffff;
  border-radius: 100%;
}

.testimonial .testimonial4_indicators .carousel-indicators .active {
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  margin: 2px 3px;
  background-color: #9dd3af;
  border-radius: 100%;
}

.testimonial .testimonial4_indicators .carousel-indicators::-webkit-scrollbar {
  height: 3px;
}

.testimonial .testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb {
  background: #eeeeee;
  border-radius: 0;
}

.testimonial .testimonial4_control_button .carousel-control {
  top: 175px;
  opacity: 1;
  width: 40px;
  bottom: auto;
  height: 40px;
  font-size: 10px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  line-height: 38px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  border-radius: 100%;
  box-shadow: none;
  transition: all 0.6s cubic-bezier(0.3, 1, 0, 1);
}

.testimonial .testimonial4_control_button .carousel-control.left {
  left: 7%;
  top: 50%;
  right: auto;
}

.testimonial .testimonial4_control_button .carousel-control.right {
  right: 7%;
  top: 50%;
  left: auto;
}

.testimonial .testimonial4_control_button .carousel-control.left:hover,
.testimonial .testimonial4_control_button .carousel-control.right:hover {
  color: #000;
  background: #fff;
  border: 2px solid #fff;
}

.testimonial .testimonial4_header {
  top: 0;
  left: 0;
  bottom: 0;
  width: 550px;
  display: block;
  margin: 30px auto;
  text-align: center;
  position: relative;
}

.testimonial .testimonial4_header h4 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.testimonial .testimonial4_slide {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  margin: auto;
  padding: 20px;
  position: relative;
  text-align: center;
}

.testimonial .testimonial4_slide img {
  top: 0;
  left: 0;
  right: 0;
  width: 136px;
  height: 136px;
  margin: auto;
  display: block;
  color: #f2f2f2;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  position: relative;
  border-radius: 50%;
  box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
}

.testimonial .testimonial4_slide p {
  color: #ffffff;
  font-size: 20px;
  line-height: 1.4;
  margin: 40px 0 20px 0;
}

.testimonial .testimonial4_slide h4 {
  color: #ffffff;
  font-size: 22px;
}

.testimonial .testimonial .carousel {
  padding-bottom: 50px;
}

.testimonial .testimonial .carousel-control-next-icon, .testimonial .testimonial .carousel-control-prev-icon {
  width: 35px;
  height: 35px;
}

/* Footer */
.footer {
  background-color: #2d2c2c;
  /*Pen code from this point on*/
  /*Telegram*/
  /*WhatsApp*/
  /*LinkedIn*/
}

.footer #social-platforms {
  top: 100px;
  font-size: 1rem;
  text-align: center;
  overflow: hidden;
}

.footer .btn {
  clear: both;
  white-space: nowrap;
  font-size: .8em;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
  margin: 2px;
  transition: all .5s;
  overflow: hidden;
}

.footer .btn:hover {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.45);
}

.footer .btn:focus {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}

.footer .btn > span, .footer .btn-icon > i {
  float: left;
  padding: 13px;
  transition: all .5s;
  line-height: 1em;
}

.footer .btn > span {
  padding: 14px 18px 16px;
  white-space: nowrap;
  color: #FFF;
  background: #b8b8b8;
}

.footer .btn:focus > span {
  background: #9a9a9a;
}

.footer .btn-icon > i {
  border-radius: 5px 0 0 5px;
  position: relative;
  width: 40px;
  text-align: center;
  font-size: 1.25em;
  color: #fff;
  background: #212121;
}

.footer .btn-icon > i:after {
  content: "";
  border: 8px solid;
  border-color: transparent transparent transparent #222;
  position: absolute;
  top: 13px;
  right: -15px;
}

.footer .btn-icon:hover > i, .footer .btn-icon:focus > i {
  color: #FFF;
}

.footer .btn-icon > span {
  border-radius: 0 5px 5px 0;
}

.footer .btn-telegram:hover > i, .footer .btn-facebook:focus > i {
  color: #229ED9;
}

.footer .btn-telegram > span {
  background: #229ED9;
}

.footer .btn-whatsApp:hover > i, .footer .btn-twitter:focus > i {
  color: #25D366;
}

.footer .btn-whatsApp > span {
  background: #25D366;
}

.footer .btn-linkedin:hover > i, .footer .btn-linkedin:focus > i {
  color: #007bb6;
}

.footer .btn-linkedin > span {
  background: #007bb6;
}

.footer .text_contact {
  display: block;
  font-size: 30px;
  color: whitesmoke;
  padding-left: 40px;
  padding-top: 20px;
  top: 80px;
}

.footer .contact_ican_email {
  padding-left: 100px;
  padding-top: 30px;
  font-size: 20px;
  color: whitesmoke;
  display: block;
}

.footer .contact_ican_call {
  padding-left: 100px;
  font-size: 20px;
  margin-bottom: 10px;
  color: whitesmoke;
  display: block;
}

.footer .copy {
  font-size: 15px;
  margin-bottom: 0px;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}

.footer .contact {
  display: block;
  font-size: 30px;
  color: whitesmoke;
  padding-left: 40px;
  padding-top: 20px;
  top: 80px;
}

.footer .f-about {
  position: absolute;
  top: 10px;
}

.footer .f_name {
  color: white;
  font-family: inherit;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  right: 200px;
  left: 150px;
  top: 40px;
}

.footer .f_job {
  color: #d9d6d6;
  font-family: inherit;
  font-weight: bold;
  font-size: 15px;
  position: absolute;
  right: 200px;
  left: 150px;
  top: 80px;
}

.footer .contact_about_card {
  position: relative;
  top: 20px;
  left: 10px;
  justify-content: center;
  justify-self: center;
  background-color: #212428;
  border-radius: 10px;
  box-shadow: var(--shadow-1);
  height: 115px;
  width: 110px;
}

.footer .contact_image {
  height: 110px;
  width: 105px;
}

.footer .f_text {
  position: relative;
  color: rgba(174, 174, 174, 0.937);
  text-align: justify;
  text-justify: inter-word;
  top: 0px;
}


@media screen and (max-width: 600px) {

  .footer {
    background-color: #2d2c2c;
    /*Pen code from this point on*/
    /*Telegram*/
    /*WhatsApp*/
    /*LinkedIn*/
  }
  
  .footer #social-platforms {
    top: 100px;
    font-size: 1rem;
    text-align: center;
    overflow: hidden;
  }
  
  .footer .btn {
    clear: both;
    white-space: nowrap;
    font-size: .8em;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
    margin: 2px;
    transition: all .5s;
    overflow: hidden;
  }
  
  .footer .btn:hover {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.45);
  }
  
  .footer .btn:focus {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
  }
  
  .footer .btn > span, .footer .btn-icon > i {
    float: left;
    padding: 13px;
    transition: all .5s;
    line-height: 1em;
  }
  
  .footer .btn > span {
    padding: 14px 18px 16px;
    white-space: nowrap;
    color: #FFF;
    background: #b8b8b8;
  }
  
  .footer .btn:focus > span {
    background: #9a9a9a;
  }
  
  .footer .btn-icon > i {
    border-radius: 5px 0 0 5px;
    position: relative;
    width: 40px;
    text-align: center;
    font-size: 1.25em;
    color: #fff;
    background: #212121;
  }
  
  .footer .btn-icon > i:after {
    content: "";
    border: 8px solid;
    border-color: transparent transparent transparent #222;
    position: absolute;
    top: 13px;
    right: -15px;
  }
  
  .footer .btn-icon:hover > i, .footer .btn-icon:focus > i {
    color: #FFF;
  }
  
  .footer .btn-icon > span {
    border-radius: 0 5px 5px 0;
  }
  
  .footer .btn-telegram:hover > i, .footer .btn-facebook:focus > i {
    color: #229ED9;
  }
  
  .footer .btn-telegram > span {
    background: #229ED9;
  }
  
  .footer .btn-whatsApp:hover > i, .footer .btn-twitter:focus > i {
    color: #25D366;
  }
  
  .footer .btn-whatsApp > span {
    background: #25D366;
  }
  
  .footer .btn-linkedin:hover > i, .footer .btn-linkedin:focus > i {
    color: #007bb6;
  }
  
  .footer .btn-linkedin > span {
    background: #007bb6;
  }
  
  .footer .text_contact {
    display: block;
    font-size: 30px;
    color: whitesmoke;
    padding-left: 40px;
    padding-top: 20px;
    top: 80px;
  }
  
  .footer .contact_ican_email {
    padding-left: 100px;
    padding-top: 30px;
    font-size: 20px;
    color: whitesmoke;
    display: block;
  }
  
  .footer .contact_ican_call {
    padding-left: 100px;
    font-size: 20px;
    color: whitesmoke;
    display: block;
  }
  
  .footer .copy {
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
  }
  
  .footer .contact {
    display: block;
    font-size: 30px;
    color: whitesmoke;
    padding-left: 40px;
    padding-top: 20px;
    top: 80px;
  }
  
  .footer .f-about {
    position: absolute;
    top: 10px;
  }
  
  .footer .f_name {
    color: white;
    font-size: 15px;
    font-weight: bold;

    position: absolute;
    right: 200px;
    left: 150px;
    top: 40px;
  }
  
  .footer .f_job {
    color: #d9d6d6;
    font-family: inherit;
    font-weight: bold;
    font-size: 13px;
    position: absolute;
    right: 200px;
    left: 150px;
    top: 80px;
  }

  
  
  .footer .contact_about_card {
    position: relative;
    top: 20px;
    left: 10px;
    justify-content: center;
    justify-self: center;
    background-color: #212428;
    border-radius: 10px;
    box-shadow: var(--shadow-1);
    height: 115px;
    width: 110px;
  }
  
  .footer .contact_image {
    height: 110px;
    width: 105px;
  }
  
  .footer .f_text {
    font-size: 20px;
    position: relative;
    color: rgba(174, 174, 174, 0.937);
    text-align: justify;
    text-justify: inter-word;
    top: 20px;
  }
  .footer .contact_ican_call {
    padding-left: 100px;
    font-size: 20px;
    margin-bottom: 10px;
    color: whitesmoke;
    display: block;
  }


}
