html,body {
  margin:0;
  padding:0;
  overflow-x:hidden;
}
  .dark {
      background: rgb(8, 12, 14);
  }
  .line {
    display: block;
    place-items: center;
    height: 1px;
    border: 0;
    border-top: 4px solid rgb(255, 255, 255);
    margin: 1em 0;
    padding-left: 1rem;
  }
  
  
  

  
  .first{
      margin-top: 50px;
      background-image: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/sky.jpg";
      background: linear-gradient(-45deg, #2f023f, #2b3943, #000000, #000000);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
      height: 20vw;
      position: relative;
      .contact_text{
          position: absolute;
          font-size:3.5vw;
          color: rgb(255, 255, 255);
          top: 7vw;
          left: 4vw;
    }
    img{
      position: absolute;
      height: 20vw;
      width: auto;
      right: 0px;
          
      }
    .page_content{
      position: absolute;
      top: 300px;
      left: 80px;
      font-size:75px;
      font-weight: bold;
      color: rgba(255, 255, 255, 1);
  
    }
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    
  
  }
  
  
  
  
  .second{
    .header{
      color: rgb(224, 221, 170);
      font-style: italic;
      font-size: 2.4vw;
      margin-bottom: 5px;
      margin-top:20px;
    }

    .context {
      color: rgb(241, 238, 233);
      font-size: 2.1vw;
      text-align: justify;
    }
    .context_source{
      color: rgb(247, 220, 172);
      font-size: 2vw;
      text-align: justify;
    }
    ul{
      color: rgb(241, 238, 233);
      font-size: 20px;
      font-style: italic;
    }
    strong{
      color: rgb(114, 78, 17);
      font-size: 20px;
    }
    .header_list{
    
      font-size: 1.85vw !important;
    }
    ul.a {
      
      margin-left: 5%;
      list-style-type: upper-roman;
    }
    .card{
      background-color: #15133C;
      margin-top: 400px;
      width: 80%;
      margin-left: 5%;
    }
    .card-text{
      color: rgb(241, 238, 233);
      font-size: 1vw;
      text-align: justify;
      font-style: italic; 
    }
    .card-title{
      color: rgb(241, 238, 233);
      font-size: 1.5vw;
      font-weight: bold;
    }
    strong{
      color: rgb(241, 238, 233);
      font-size: 1vw;
      font-style: italic;
    }
    .card-img-top{
      height: 50%;
      margin-top: 150px;
    }
    hr{
      color: #FFF;
    }
  }
  
  
  
  
  /* Footer */
  .footer{
    background-color: #2d2c2c;
    
  
    #social-platforms {
      top:100px;
      font-size:1rem;
      text-align:center;     
      overflow:hidden;
    }
    
    /*Pen code from this point on*/
    .btn {
      clear:both;
      white-space:nowrap;
      font-size:.8em;
      display:inline-block;
      border-radius:5px;
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
      margin:2px;
      -webkit-transition:all .5s;
      -moz-transition:all .5s;
      transition:all .5s;
      overflow:hidden
    }
    
    .btn:hover {
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.45);
    }
    
    .btn:focus {
      box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
    }
    
    .btn > span,.btn-icon > i {
      float:left;
      padding:13px;
      -webkit-transition:all .5s;
      -moz-transition:all .5s;
      transition:all .5s;
      line-height:1em
    }
    
    .btn > span {
      padding:14px 18px 16px;
      white-space:nowrap;
      color:#FFF;
      background:#b8b8b8
    }
    
    .btn:focus > span {
      background:#9a9a9a
    }
    
    .btn-icon > i {
      border-radius:5px 0 0 5px;
      position:relative;
      width:40px;
      text-align:center;
      font-size:1.25em;
      color:#fff;
      background:#212121
    }
    
    .btn-icon > i:after {
      content:"";
      border:8px solid;
      border-color:transparent transparent transparent #222;
      position:absolute;
      top:13px;
      right:-15px
    }
    
    .btn-icon:hover > i,.btn-icon:focus > i {
      color:#FFF
    }
    
    .btn-icon > span {
      border-radius:0 5px 5px 0
    }
    
    /*Telegram*/
    .btn-telegram:hover > i,.btn-facebook:focus > i {
      color:#229ED9
    }
    
    .btn-telegram > span {
      background:#229ED9
    }
    
    /*WhatsApp*/
    .btn-whatsApp:hover > i,.btn-twitter:focus > i {
      color:#25D366
    }
    
    .btn-whatsApp > span {
      background:#25D366
    }
    
    
    
    /*LinkedIn*/
    .btn-linkedin:hover > i,.btn-linkedin:focus > i {
      color:#007bb6
    }
    
    .btn-linkedin > span {
      background:#007bb6
    }
  
    .text_contact{
      display: block;
      font-size: 30px;
      color: whitesmoke;
      padding-left: 40px;
      padding-top: 20px;
      top: 80px;
    ;
    }
    .contact_ican_email{   
      padding-left: 100px;
      padding-top: 30px;
      font-size: 20px;
      color: whitesmoke;    
      display: block;
      
    }
    .contact_ican_call{
      padding-left: 100px;
      font-size: 20px;
      color: whitesmoke;    
      display: block;
    }
  
    .copy{
      font-size: 15px;
      margin-bottom: 0px;
      margin-top: 20px;
      padding: 10px;
      text-align: center;
    }
    .contact{
      display: block;
      font-size: 30px;
      color: whitesmoke;
      padding-left: 40px;
      padding-top: 20px;
      top: 80px;
    }
  
    .f-about{
      position: absolute;
      top: 10px;
  
    }
  
    .f_name{
      color: white;
      font-family: inherit;
      font-weight: bold;
      font-size: 20px ;
      position: absolute;
      right: 200px;
      left: 150px;
      top: 40px;
  
    }
    .f_job{
      color: rgb(217, 214, 214);
      font-family: inherit;
      font-weight: bold;
      font-size: 15px ;
      position: absolute;
      right: 200px;
      left: 150px;
      top: 80px;
    }
    .contact_about_card{
      position: relative;
      top: 20px;
      left: 10px;
      justify-content: center;
      justify-self: center;
      background-color: #212428;
      border-radius: 10px;
      box-shadow: var(--shadow-1);
      height: 115px;;
      width: 110px;
   
    }
    .contact_image{
      height: 110px;
      width: 105px;
      
    }
    .f_text{
      position: relative;
      color: rgba(174, 174, 174, 0.937);
      text-align: justify;
      text-justify: inter-word;
      top: 0px;
    }
  
  }
  
    
  
  
  
  
  
  